@{
    Layout="/Shared/_Layout.cshtml";
}

<h1>New Student Sign Ups</h1>
<a href="/student/add">Sign up to be a student</a>

<h1>Sign up for Classes</h1>
<a href="/courses/student/add">Current Student Course Sign Ups</a>

<h1>Look at current students in classes</h1>
<a href="/courses">Current Courses</a>
