@{
    Layout="/Shared/_Layout.cshtml";
}

<h1><a href="/department/add">Add a Department</a></h1>

<h1><a href="/course/add">Add a Course</a></h1>

<h1>New Student Sign Ups</h1>
<a href="/student/add">Sign up to be a student</a>

<h1>Sign up for Courses</h1>
<a href="/courses/student/add">Current Student Course Sign Ups</a>

<h1>View Departments</h1>
<a href="/departments">Current Departments</a>

<h1>View Courses</h1>
<a href="/courses">Current Courses</a>

<h1>View Students</h1>
<a href="/students">Current Students</a>
